# ==============================================================================
# CONFIGURACIÓN DEL SERVIDOR (Express)
# ==============================================================================

PORT=5001

NODE_ENV=development

# Lista de orígenes permitidos para CORS (separados por coma)
ALLOWED_ORIGINS=http://localhost:4200

# ==============================================================================
# SEGURIDAD (JWT)
# ==============================================================================

# Clave secreta para firmar los tokens JWT. 
JWT_SECRET=tu_clave_secreta_super_segura_aqui

# ==============================================================================
# FIREBASE & GOOGLE CLOUD
# ==============================================================================

# ID del proyecto de Firebase
FIREBASE_PROJECT_ID=atom-task-manager-77028



